{% extends "layout.html" %}

{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>New item</h2>
      <form action="{{ url_for('add_item') }}" method="POST">
        <div class="form-group form-row align-items-center">
          <div class="col">
            <input type="text" name="name" id="name-input" class="form-control" placeholder="Name" aria-label="Name">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-success">Add Item</button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
          <li> {{item.status}} :  {{item.name}}</li>
          {% if item.status == 'To Do' %}
              <a href="{{ url_for('start_item', id=item.id) }}" class="btn btn-success">Start</a>    
          {% elif item.status == 'Doing' %}
              <a href="{{ url_for('complete_item', id=item.id) }}" class="btn btn-primary">Complete</a>              
          {% else %}
              <a href="{{ url_for('incomplete_item', id=item.id) }}" class="btn btn-info">Incomplete</a>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
